a {
  text-decoration: none;
}

.queNavBtn {
  border-radius: 50px;
}

.selected {
  background-color: lightblue;
}

.answered {
  background-color: #0b815a;
}

.visited {
  background-color: rgb(230, 130, 130);
}
